<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<!--todo osoite tiedot yll채pit채j채n n채kyviin-->
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<!--TODO vain itse-->
<%= link_to 'Edit', edit_user_path(@user) %>

