<h1>Orders</h1>
<div class="row">
  <div class="col-md-6">

    <table class="table">
      <thead>
      <tr>
        <% if admin %>
            <th>User</th>
        <% end %>
        <th>Order ID</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <% if admin %>
                <td>
                  <% unless order.user.nil? %>
                      <%= order.user.username %>
                  <% end %>
                </td>
            <% end %>
            <td> <%= link_to order.id, order, class: 'btn btn-sm btn-info' %> </td>
            <td>
              <% if order.paid %>
                  <span class="label label-sm label-success">Paid</span>
              <% else %>
                  <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
                  <% unless order.products.empty? %>
                      <%= link_to 'Pay', pay_path(order.id), method: :post, class: 'btn btn-sm btn-success' %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
